<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- 
        Ip2GeoLoc API Service
        ####################################
         >   https://ipapi.com/quickstart <
        ####################################
     -->
    <add key="geoapikey" value="c4970049a17b21e6e33609311b9df208"/>
    <add key="google_earth_exe" value="C:\Program Files\Google\Google Earth Pro\client\googleearth.exe"/>
  </appSettings>
</configuration>